
<form action="/posts" method="POST" enctype="multipart/form-data">
  <h2>Pet's Name:</h2><input type="text" name="petsName" placeholder="Pet Name" required>
  <h2>Pet's Age:</h2><input type="text" name="petsAge" placeholder="Pet Age" required>
  <input type="file" name="image" required>
  <button type="submit">Upload Pet</button>
</form>


<div id="petsDiv">
    {{#if petsCollection.length}}
    
      <ul>
          {{#each petsCollection}}
        <div class = "img_card">
                <img src="{{this.petsImage}}"/>
                <h3>{{this.petsName}}</h3>
                <h3>{{this.petsAge}}</h3>
             <div id = "likeDiv">
                <button id = "likeButton">Like Count</button>
              <p id="likeNum"></p>
             </div>
     </div>

          {{/each}}
      </ul>
    {{else}}
        <p>No items found.</p>
    {{/if}}
</div>





